@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Programming III build on knowedge learned in the previous Programming courses in BIT program it prepares students 
                for COOP opportunities using C#, LING, ASP.NET, MVC, SQL SERVER , etc....
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Lectures</h5>
        Lectures intruce student to new topics leading to labs and assignments
    </li>

    <li class="two">
        <h5>Labs</h5>
        Labs are used to provide student wit hpractice tin topics intrucd in recnet lectures
    </li>

    <li class="three">
        <h5>Assignments</h5>
        Assignments are a means of measuring students knowledge of the course material as well as their ability to follow standards
    </li>
</ol>
